<div class="hero-unit small">
    <h2>{{name}}</h2>

    <ul>
    	{{#each club_players}}
    	<li>{{code}} {{#linkTo 'playerDetails' .}}{{fullname}}{{/linkTo}} ({{publicDate birthdate}}) <strong>{{rating}}</strong></li>
    	{{/each}}
    </ul>
    {{#if showMore}}
    <button {{action 'more'}}>Load more ...</button>
    {{/if}}
</div>