<div class="hero-unit">
    {{view Ember.TextField valueBinding="controller.searchTerm" placeholder="Search players and clubs"}}
    <ul>
    	{{#each clubs}}
    	<li>{{code}} {{#linkTo 'clubDetails' .}}{{name}}{{/linkTo}}</li>
    	{{/each}}
    </ul>

    <hr/>

    <ul>
    	{{#each players}}
    	<li>{{code}} {{#linkTo 'playerDetails' .}}{{fullname}}{{/linkTo}} ({{publicDate birthdate}}) <strong>{{rating}}</strong> {{#linkTo 'clubDetails' clu_id}}{{clu_id.name}}{{/linkTo}}</li>
    	{{/each}}
    </ul>
</div>
