<div class="hero-unit small">
    <h2>Players</h2>
    <ul>
    	{{#each model}}
    	<li>{{#linkTo 'playerDetails' .}}{{code}}{{/linkTo}} {{fullname}} ({{publicDate birthdate}}) {{#linkTo 'clubDetails' club}}{{club.name}}{{/linkTo}} {{rating}}</li>
    	{{/each}}
    </ul>
</div>