<div class="hero-unit small">
    <h2>Players</h2>
    <ul>
    	{{#each model}}
    	<li>{{code}} {{#linkTo 'playerDetails' .}}{{fullname}}{{/linkTo}} ({{publicDate birthdate}}) <strong>{{rating}}</strong> {{#linkTo 'clubDetails' clu_id}}{{clu_id.name}}{{/linkTo}}</li>
    	{{/each}}
    </ul>
    <button {{action 'more'}}>Load more ...</button>
</div>